
/* stilimi i komponentes board */

h2{
  color: orangered;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
}

.board{
 margin-top:15px;
 margin-bottom: 10px;
    width: 100;
    display: table;
    justify-content: center;
    background: rgb(172, 171, 171);

    border: 1px solid  rgb(179, 176, 176) ;}
  

    
    .log{
    
        position: absolute;
        right: 50px;
        top: 10px;
      
    }
    
  .inp{
    width: 50%;
    margin-top: 3px;
    margin-bottom: 10px;
    text-decoration: black;
    border:0.5px solid #000000c9;
    background-color:white;
    border-radius:4%


  }

    .log{

    float: right;

}

.logs {
 
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 20em;
    border: 5px  rgb(218, 211, 211);
    border-style:dashed;
    
  }
  .logs h6{
    text-align: center
  }
  .logs li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color:  rgb(218, 211, 211);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    color: rgb(46, 56, 58)
  }
  .logs li:hover {
    color: rgb(251, 251, 251);
    background-color: #DDD;
    left: .1em;
  }
  .logs li.selected {
    background-color: rgb(199, 207, 211);
    color: rgb(255, 255, 255);
  }
  .logs li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .logs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#90a2b6;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .player button{
    background-color: rgb(255, 115, 0);
    color:rgb(255, 255, 255);
    width: 90px;
    height:40px;
    border: 1px rgb(236, 150, 75) rgb(255, 115, 0);
    border-radius: 5%;
    align-content: center;
    
  }


  .player button:hover{
    background-color: rgb(240, 147, 72);
    color:rgb(255, 255, 255);
    width: 90px;
    height:40px;
    border: 1px sandybrown rgb(255, 115, 0);
    border-radius: 5%;
    align-content: center;
    
  }

  .btn1{
    background-color: rgb(255, 115, 0);
    color:rgb(255, 255, 255);
    width: 70px;
    height:30px;
    border: 1px sandybrown rgb(255, 115, 0);
    border-radius: 5%;
    align-content: center;
    
  }
  
  .btn{
    background-color: rgb(255, 115, 0);
    color:rgb(255, 255, 255);
    width: 140px;
    height:40px;
    border: 1px sandybrown rgb(255, 115, 0);
    border-radius: 5%;
    align-content: center;
    
  }
 